* {
    box-sizing: border-box;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

.row > div {
    border: .1px solid black;
    width: 44px;
    height: 44px;
}

.visited {
    background-color: aqua;
}

button {
    background-color: bisque;
    padding: 4px 8px;
    border-radius: 4px;
}